<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Registration Form</title>
  <link rel="stylesheet" href="regcss.css">
</head>

<body>
  <div class="box">
    <form name="frm" action="/saveUser" method="POST" onsubmit="return submitForm()">

      <div class="form-group">
        <input type="text" name="username" id="username" placeholder="Enter Username"
               oninput="validationName(this.value)" />
        <span id="nmsg"></span>
      </div>

      <div class="form-group">
        <input type="text" name="useremail" id="useremail" placeholder="Enter Email"
               oninput="validateEmail(this.value)" />
        <span id="emsg"></span>
      </div>

      <div class="form-group">
        <input type="password" name="password" id="password" placeholder="Enter Password"
               oninput="validatePassword(this.value)" />
        <span id="pmsg"></span>
      </div>

      <div class="form-group">
        <input type="text" name="contact" id="contact" placeholder="Enter Contact"
               oninput="validateContact(this.value)" />
        <span id="cmsg"></span>
      </div>

      <div class="form-group">
        <input type="text" name="type" id="role" value="User"
               readonly/>
        <span id="cmsg"></span>
      </div>

      <div class="form-group">
        <input type="submit" value="Register" />
        <span id="h"></span>
      </div>

    </form>
  </div>

  <script src="validation.js"></script>
</body>
</html>
